main{
    background-color: #ffb6c1;
    
}

header{
    background-color: lightblue;
    border: 2px solid black; text-align: center;
    height: 10vh;
    text-align: center;
    border-radius: 3px;
    margin:10px;

}

nav{
    background-color: lightgreen;
    border: 2px solid black;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 3px;
   
}

.section01{
    display: flex; text-align: center;
    height: 100%;
    margin: 10px;

}

.article1{
    background-color: #e259b5;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 5px;
    margin: 10px;
    height: 100%;
}


footer{
    background-color: #f2ff3d;
    border: 2px solid #000000;
    text-align: center;
    border-radius: 3px;
    margin-top:30px;
    height: 10vh;
}